/*
layout colors:
Seashell: Seashell
charcoal: #36454f

*/

html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: white;
}

body {
	font-family: "Lora", “Trebuchet MS”, Arial, sans-serif;
	color: #36454f;
}

header{
	overflow: hidden;
}

.name{
	background-color: #36454f;
	margin: 0px 0px 30px 15%;
	padding-bottom: 20px;
	height: 120px;
	width: 120px;
	overflow: hidden;

	
}

#name-text{
	font-family: "Tangerine", “Trebuchet MS”, Arial, sans-serif;
	text-align: center;
	vertical-align: baseline;
	color: white;
	font-size: 40px;
	font-weight: 100;
}

/*-------------------*/ /*----Navigation Bar-------*/ /*------------------*/

nav{
	float: left;
	position: relative;
	top: 4em;
	margin-left: 10em;
}
.links-box {

}

ul.links-list {
	background-color: #36454f;
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
}

li.link-bullet {
	float: left;
}

li.link-bullet a{
	display: block;
	padding: 10px 15px 10px 15px;
}

li.link-bullet a:link, li.link-bullet a:visited{
	text-decoration: none;
	color: white;
}


li.link-bullet a:hover{
	color: #36454f;
	background-color: white;
}

li.link-bullet a.current{
	color: #36454f;
	background-color: white;	
}

.name, .nav {
	float: left;
}

/*----------------------*/ /*PAGE NAME*/ /*-------------------------*/

.page-name-wrapper{
	width = parent;
	overflow: hidden;
}
.page-name{
	position: static;
	background-color: #36454f;
	margin: 0px 0px 40px 15%;
	padding: 10px 0px 10px 0px;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 25px;
	font-weight: 100;
}

