/*
layout colors:
Seashell: Seashell
charcoal: #36454f

*/

html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: white;
}

body {
	font-family: "Arvo", serif;	
	text-align: center;
	
}

nav, .page-name {
	font-family: "Quicksand", sans-serif;
	color: #36454f;
}

header{
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}

.header-surround{
	background-color: #EBEBEB; /* #EBEBEB*/
}

/*-------------------*/ /*----Name Block-------*/ /*------------------*/

.name{
	background-color: #36454f;
	margin: 0px 10px 20px 160px;
	padding-bottom: 20px;
	height: 130px;
	width: 130px;
	overflow: hidden;
	
}

#name-text{
	font-family: "Tangerine", “Trebuchet MS”, Arial, sans-serif;
	text-align: center;
	color: white;
	font-size: 50px;
	font-weight: 100;
	margin-top: 25px;
}

/*-------------------*/ /*----Navigation Bar-------*/ /*------------------*/

nav{
	float: left;
	
}

ul.links-list {
	background-color: #36454f;
	list-style-type: none;
	margin-top: 45px;
	margin-left: 75px;
	padding:0px;
	overflow: hidden;
	font-size: 20px;
}

li.link-bullet {
	float: left;
}

li.link-bullet a{
	display: block;
	padding: 10px 25px 10px 25px;
}

li.link-bullet a:link, li.link-bullet a:visited{
	text-decoration: none;
	color: white;
}


li.link-bullet a:hover{
	color: #36454f;
	background-color: white;
}

li.link-bullet a.current{
	color: #36454f;
	background-color: white;	
}

.name, .nav{
	float:left;
}

/*----------------------*/ /*PAGE NAME*/ /*-------------------------*/

.page-name-wrapper{
	width : 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.page-name{
	background-color: #36454f;
	margin: 20px 10px 20px 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:20px;
	width: 130px;
	text-align: center;
	color: white;
	font-weight: 100;
}

